.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid blue;
    height: 5rem;
    min-width: 720px;

    .logo {
        margin-left: 4rem;
        font-size: 3rem;
        text-decoration: none;
        color: white;
    }

    .search-box-container {
        display: flex;

        input {
            width: 300px;
            height: 25px;
        }
    }

    .wrap-log-in {
        margin-right: 20px;
        display: flex;
        column-gap: 10px;

        .fix {
            font-size: 1.5rem;
            text-decoration: none;
            color: white;
        }

        .sign-out {
            background-color: rgb(246, 91, 91);
            font-size: 1rem;
            text-decoration: none;
            color: white;
            cursor: pointer;
        }
    }
}