.top-nav-container {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    border: 1px solid green;
    min-width: 720px;

    .top-nav-links {
        margin-left: 20px;
        display: flex;
        column-gap: 15px;
    }

    .top-nav-ikons {
        margin-right: 30px;
    }
}